<a href="https://colab.research.google.com/github/stevenkhwun/P4DS/blob/main/Dataset_On_Internet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Common Datasets on Internet

This notebook contains some common datasets found on internet.

In [ ]:
import pandas as pd
import numpy as np

## Titanic dataset

In [ ]:
titanic_url = (
    "https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/titanic.csv"
)
titanic = pd.read_csv(titanic_url)
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## USvideos dataset

In [4]:
usvideos_url = (
"https://raw.githubusercontent.com/OrysyaStus/SeismicBlog/master/Data_Visualizations/Dynamic_Visuals_Using_Date_Range_Slicers_Pt1/data/USvideos.csv"
)
usvideos = pd.read_csv(usvideos_url)
usvideos

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35344,qSKOPBVkpJk,18.17.05,Tom Hiddleston's spot-on Korg impression.,BBC Radio 1,10,2018-04-30T12:42:40.000Z,"infinity war|""marvel""|""tom hiddleston""|""sebast...",2679999,52151,949,1805,https://i.ytimg.com/vi/qSKOPBVkpJk/default.jpg,False,False,False,"Avengers: Infinity War stars Tom Hiddleston, L..."
35345,ssk48FCVolk,18.17.05,Drop the Mic: Seth Rogen vs Joseph Gordon-Levi...,TBS,24,2018-04-30T05:59:48.000Z,"TBS|""TBS Network""|""Comedy""|""TBS Shows""|""Shows""...",1356734,17910,376,841,https://i.ytimg.com/vi/ssk48FCVolk/default.jpg,False,False,False,Two pals put their friendship on the line when...
35346,13xFL17XmYU,18.17.05,Little Kid Runs in Slow Motion During Baseball...,RM Videos,24,2018-04-30T18:57:01.000Z,[none],310140,1521,246,474,https://i.ytimg.com/vi/13xFL17XmYU/default.jpg,False,False,False,For licensing/usage please contact: licensing(...
35347,Kw0ih4jPOBo,18.17.05,Kacey Musgraves - Space Cowboy (Official Music...,KaceyMusgravesVEVO,10,2018-04-30T09:00:01.000Z,"Kacey|""Musgraves""|""Space""|""Cowboy""|""MCA""|""Nash...",920289,9754,658,552,https://i.ytimg.com/vi/Kw0ih4jPOBo/default.jpg,False,False,False,"Listen to the new Kacey Musgraves album, Golde..."
35348,Es9CfWMmPRU,18.17.05,$120 McGriddle Taste Test | FANCY FAST FOOD,Good Mythical Morning,24,2018-04-30T10:22:13.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",1259565,21892,844,2749,https://i.ytimg.com/vi/Es9CfWMmPRU/default.jpg,False,False,False,Is our $120 McGriddle a McMasterpiece or a McD...