<a href="https://colab.research.google.com/github/stevenkhwun/P4DS/blob/main/SQL_in_Python_MediumArticle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas equivalent of 10 useful SQL queries

This notebook is based on an [article on Medium](https://towardsdatascience.com/pandas-equivalent-of-10-useful-sql-queries-f79428e60bd9).

In [1]:
import pandas as pd
import numpy as np

In [2]:
usvideos_url = (
"https://raw.githubusercontent.com/OrysyaStus/SeismicBlog/master/Data_Visualizations/Dynamic_Visuals_Using_Date_Range_Slicers_Pt1/data/USvideos.csv"
)
usvideos = pd.read_csv(usvideos_url)
usvideos

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35344,qSKOPBVkpJk,18.17.05,Tom Hiddleston's spot-on Korg impression.,BBC Radio 1,10,2018-04-30T12:42:40.000Z,"infinity war|""marvel""|""tom hiddleston""|""sebast...",2679999,52151,949,1805,https://i.ytimg.com/vi/qSKOPBVkpJk/default.jpg,False,False,False,"Avengers: Infinity War stars Tom Hiddleston, L..."
35345,ssk48FCVolk,18.17.05,Drop the Mic: Seth Rogen vs Joseph Gordon-Levi...,TBS,24,2018-04-30T05:59:48.000Z,"TBS|""TBS Network""|""Comedy""|""TBS Shows""|""Shows""...",1356734,17910,376,841,https://i.ytimg.com/vi/ssk48FCVolk/default.jpg,False,False,False,Two pals put their friendship on the line when...
35346,13xFL17XmYU,18.17.05,Little Kid Runs in Slow Motion During Baseball...,RM Videos,24,2018-04-30T18:57:01.000Z,[none],310140,1521,246,474,https://i.ytimg.com/vi/13xFL17XmYU/default.jpg,False,False,False,For licensing/usage please contact: licensing(...
35347,Kw0ih4jPOBo,18.17.05,Kacey Musgraves - Space Cowboy (Official Music...,KaceyMusgravesVEVO,10,2018-04-30T09:00:01.000Z,"Kacey|""Musgraves""|""Space""|""Cowboy""|""MCA""|""Nash...",920289,9754,658,552,https://i.ytimg.com/vi/Kw0ih4jPOBo/default.jpg,False,False,False,"Listen to the new Kacey Musgraves album, Golde..."
35348,Es9CfWMmPRU,18.17.05,$120 McGriddle Taste Test | FANCY FAST FOOD,Good Mythical Morning,24,2018-04-30T10:22:13.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",1259565,21892,844,2749,https://i.ytimg.com/vi/Es9CfWMmPRU/default.jpg,False,False,False,Is our $120 McGriddle a McMasterpiece or a McD...

## 1. SELECT

SELECT col1, col2, ... FROM table

In [3]:
usvideos[["video_id", "title"]]

          video_id                                              title
0      2kyS6SvSYSE                 WE WANT TO TALK ABOUT OUR MARRIAGE
1      1ZAPwfrtAFY  The Trump Presidency: Last Week Tonight with J...
2      5qpjK5DgCt4  Racist Superman | Rudy Mancuso, King Bach & Le...
3      puqaWrEC7tY                   Nickelback Lyrics: Real or Fake?
4      d380meD0W0M                           I Dare You: GOING BALD!?
...            ...                                                ...
35344  qSKOPBVkpJk          Tom Hiddleston's spot-on Korg impression.
35345  ssk48FCVolk  Drop the Mic: Seth Rogen vs Joseph Gordon-Levi...
35346  13xFL17XmYU  Little Kid Runs in Slow Motion During Baseball...
35347  Kw0ih4jPOBo  Kacey Musgraves - Space Cowboy (Official Music...
35348  Es9CfWMmPRU        $120 McGriddle Taste Test | FANCY FAST FOOD

[35349 rows x 2 columns]

The same thing can be made with the following syntax which makes easier to translate WHERE statements later:

In [4]:
usvideos.loc[:, ["video_id", "title"]]

          video_id                                              title
0      2kyS6SvSYSE                 WE WANT TO TALK ABOUT OUR MARRIAGE
1      1ZAPwfrtAFY  The Trump Presidency: Last Week Tonight with J...
2      5qpjK5DgCt4  Racist Superman | Rudy Mancuso, King Bach & Le...
3      puqaWrEC7tY                   Nickelback Lyrics: Real or Fake?
4      d380meD0W0M                           I Dare You: GOING BALD!?
...            ...                                                ...
35344  qSKOPBVkpJk          Tom Hiddleston's spot-on Korg impression.
35345  ssk48FCVolk  Drop the Mic: Seth Rogen vs Joseph Gordon-Levi...
35346  13xFL17XmYU  Little Kid Runs in Slow Motion During Baseball...
35347  Kw0ih4jPOBo  Kacey Musgraves - Space Cowboy (Official Music...
35348  Es9CfWMmPRU        $120 McGriddle Taste Test | FANCY FAST FOOD

[35349 rows x 2 columns]

The SELECT DISTINCT statement returns only unique rows from a table. In a data frame there may b duplicate values. If you want to get only distinct rows (remove duplicates) it is as simple as calling the `.drop_duplicates()` method.

In [5]:
usvideos.loc[:, ["channel_title"]].drop_duplicates()

               channel_title
0               CaseyNeistat
1            LastWeekTonight
2               Rudy Mancuso
3      Good Mythical Morning
4                   nigahiga
...                      ...
34813   davematthewsbandVEVO
34959            TheOdd2sOut
34975       MBCentertainment
35032                    ITV
35174      Microsoft Surface

[2153 rows x 1 columns]

SELECT TOP number col1, col2, ... FROM table

or

SELECT col1, col2, ... FROM table LIMIT number

The TOP or LIMIT keyword in SQL is used to limit the number of returned rows from the top of the table.

In pandas this is very easy to do with `.head(number)` method. Pandas also has the `.tail(number)` method for showing the rows from the end of data frame.

In [6]:
usvideos.loc[:, ["video_id", "title"]].head(5)

      video_id                                              title
0  2kyS6SvSYSE                 WE WANT TO TALK ABOUT OUR MARRIAGE
1  1ZAPwfrtAFY  The Trump Presidency: Last Week Tonight with J...
2  5qpjK5DgCt4  Racist Superman | Rudy Mancuso, King Bach & Le...
3  puqaWrEC7tY                   Nickelback Lyrics: Real or Fake?
4  d380meD0W0M                           I Dare You: GOING BALD!?

In [7]:
usvideos.loc[:, ["video_id", "title"]].tail(5)

          video_id                                              title
35344  qSKOPBVkpJk          Tom Hiddleston's spot-on Korg impression.
35345  ssk48FCVolk  Drop the Mic: Seth Rogen vs Joseph Gordon-Levi...
35346  13xFL17XmYU  Little Kid Runs in Slow Motion During Baseball...
35347  Kw0ih4jPOBo  Kacey Musgraves - Space Cowboy (Official Music...
35348  Es9CfWMmPRU        $120 McGriddle Taste Test | FANCY FAST FOOD

SQL’s MIN(), MAX(), COUNT(), AVG(), and SUM() functions are pretty straightforward to translate to pandas:


```SAS
SELECT MIN(col) FROM table
```

In [8]:
usvideos.loc[:, ["views"]].min()

views    549
dtype: int64

```SAS
SELECT MAX(col) FROM table
```

In [9]:
usvideos.loc[:, ["views"]].max()

views    149376127
dtype: int64

```SAS
SELECT COUNT(col) FROM table
```

In [10]:
usvideos.loc[:, ["views"]].count()

views    35349
dtype: int64

```SAS
SELECT AVG(col) FROM table
```

In [11]:
usvideos.loc[:, ["views"]].mean()

views    1.902529e+06
dtype: float64

```SAS
SELECT SUM(col) FROM table
```

In [12]:
usvideos.loc[:, ["views"]].sum()

views    67252508757
dtype: int64

If we want to do something like this:

```SAS
SELECT MAX(likes), MIN(dislikes) FROM table
```

We need to do this in more steps:

In [23]:
new_usvideos = usvideos.loc[:, ["likes"]].max().rename({"likes": "MAX(likes)"})
new_usvideos["MIN(dislikes)"] = usvideos.loc[:, ["dislikes"]].min().values[0]

In [24]:
new_usvideos[["MAX(likes)", "MIN(dislikes)"]]

MAX(likes)       3749810
MIN(dislikes)          0
dtype: int64

## 2. WHERE

```SAS
SELECT col1, col2, ... FROM table WHERE condition;
```

The WHERE clause is used to extract only the rows that fulfill a specified condition.

Recall the syntax we used so far for selecting columns:
```Python
df.loc[:, ['col1', 'col2']]
```
Inside the square brackets of `.loc` there is place for two parameters; so far we only used the second one which is used to specify what columns you want to select. Guess for what is the first parameter? Is for selecting rows. Pandas data frames expect a list of row indices or boolean flags based on which it extracts the rows we need. So far we used only the `:` symbol which means "return all rows". If we want to extract only rows with indices from 50 to 80 we can use `50:80` in that place.

For extracting rows based on some condition, most often we will pass there an array of boolean flags returned by some (vectorized) boolean operation. The rows on positions where we will have `False` will not be included in the result, only those rows with `True` on their positions will be returned.

Using equality and inequality operators `==`, `<`, `<=`, `>`, `>=`, `!=` in conditions is straightforward. For example, to return only rows that have number of likes >= 1000000 we can use:

In [25]:
usvideos.loc[usvideos["likes"]>=1000000, ["video_id", "title"]]

          video_id                                              title
70     2Vv-BfVoq4g        Ed Sheeran - Perfect (Official Music Video)
336    2Vv-BfVoq4g        Ed Sheeran - Perfect (Official Music Video)
574    2Vv-BfVoq4g        Ed Sheeran - Perfect (Official Music Video)
801    TyHvyGVs42U          Luis Fonsi, Demi Lovato - Échame La Culpa
1005   TyHvyGVs42U          Luis Fonsi, Demi Lovato - Échame La Culpa
...            ...                                                ...
34888  zEf423kYfqk  Becky G, Natti Natasha - Sin Pijama (Official ...
35057  VYOjWnS4cMY  Childish Gambino - This Is America (Official V...
35080  p8npDG2ulKQ  BTS (방탄소년단) LOVE YOURSELF 轉 Tear 'Singularity'...
35156  2tDKp41nrw8          BTS (방탄소년단) 'FAKE LOVE' Official Teaser 2
35265  VYOjWnS4cMY  Childish Gambino - This Is America (Official V...

[271 rows x 2 columns]

Note that the reason for which we could do what we did above (`df['likes'] >= 1000000`) is that pandas has overwritten the default behavior for `>=` operator so that it applies the operator element-wise and returns an array of booleans of the shape that we need (number of rows).

But the operators **and**, **or**, **not** don't work like that. So, we will use `&` instead of **and**, `|` instead of **or**, `~` instead of **not**.

In [26]:
usvideos.loc[(usvideos["likes"]>=1000000) & (usvideos["dislikes"]<=5000), ["video_id", "title"]].drop_duplicates()

          video_id                                              title
1278   ixxR3ZoqnF0  BTS (방탄소년단) 'MIC Drop (Steve Aoki Remix)' Offi...
14755  J41qe-TM1DY                    JONGHYUN 종현 '빛이 나 (Shinin’)' MV
20823  Vm4Xn5vjqRA        CRISTIANO RONALDO E FRED, O GRANDE ENCONTRO
35156  2tDKp41nrw8          BTS (방탄소년단) 'FAKE LOVE' Official Teaser 2

```SAS
SELECT col1, col2, ... FROM table WHERE colN IS NOT NULL
```

In SQL you can use `IS NULL` or `IS NOT NULL` to get rows that contain/don't contain null values.

The examples below return all rows where the description is null and is not null.

In [30]:
# Description is null
usvideos.loc[usvideos["description"].isna(), ["video_id", "title", "description"]]

,video_id,title,description
42,NZFhMSgbKKM,Dennis Smith Jr. and LeBron James go back and ...,NaN
47,sbcbvuitiTc,Stephon Marbury and Jimmer Fredette fight in C...,NaN
175,4d07RXYLsJE,Sphaera - demonstrating interaction,NaN
267,NZFhMSgbKKM,Dennis Smith Jr. and LeBron James go back and ...,NaN
312,sbcbvuitiTc,Stephon Marbury and Jimmer Fredette fight in C...,NaN
...,...,...,...
35060,Hzk1bM2vVFU,True Facts : Carnivorous Plants,NaN
35117,zxwfDlhJIpw,kanye west / charlamagne interview,NaN
35213,vjSohj-Iclc,"Getting some air, Atlas?",NaN
35268,Hzk1bM2vVFU,True Facts : Carnivorous Plants,NaN
35324,zxwfDlhJIpw,kanye west / charlamagne interview,NaN

In [31]:
# Description is not null
usvideos.loc[usvideos["description"].notna(), ["video_id", "title", "description"]]

,video_id,title,description
0,2kyS6SvSYSE,WE WANT TO TALK ABOUT OUR MARRIAGE,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,The Trump Presidency: Last Week Tonight with J...,"One year after the presidential election, John..."
2,5qpjK5DgCt4,"Racist Superman | Rudy Mancuso, King Bach & Le...",WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,Nickelback Lyrics: Real or Fake?,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,I Dare You: GOING BALD!?,I know it's been a while since we did this sho...
...,...,...,...
35344,qSKOPBVkpJk,Tom Hiddleston's spot-on Korg impression.,"Avengers: Infinity War stars Tom Hiddleston, L..."
35345,ssk48FCVolk,Drop the Mic: Seth Rogen vs Joseph Gordon-Levi...,Two pals put their friendship on the line when...
35346,13xFL17XmYU,Little Kid Runs in Slow Motion During Baseball...,For licensing/usage please contact: licensing(...
35347,Kw0ih4jPOBo,Kacey Musgraves - Space Cowboy (Official Music...,"Listen to the new Kacey Musgraves album, Golde..."
35348,Es9CfWMmPRU,$120 McGriddle Taste Test | FANCY FAST FOOD,Is our $120 McGriddle a McMasterpiece or a McD...

```SAS
SELECT col1, col2, ... FROM table WHERE colN LIKE pattern
```

The `LIKE` keyword can be used in a `WHERE` clause to test if a column matches a pattern.

In pandas we can use python’s native `re` module for regular expressions to accomplish the same thing, or even more as the python’s `re` module allows for a richer set of patterns to be tested rather than SQL’s `LIKE`.

We will create a function `like(x, pattern)` where `x` is an array-like object and `pattern` is a string containing the pattern which we want to test for. This function will first compile the pattern into a regular expression object, then we can use the `.fullmatch(val)` method to test the `val`'s value against our pattern. In order to apply this test to each element in our `x` vector we will use numpy's `vectorize(func)` function to create a vector equivalent for our operation of regex matching. Finally we apply this vectorized function to our `x` input vector. Then all we need to do is to pass `like(df['column'], pattern)` as first parameter in `.loc[]`.

In [33]:
# Defining the like function
import re
def like(x, pattern):
    r = re.compile(pattern)
    vlike = np.vectorize(lambda val: bool(r.fullmatch(val)))
    return vlike(x)

As an example the below code returns all videos that contains the word ‘math’ in their description.

In [35]:
usvideos_notnull = usvideos.loc[usvideos["description"].notna(), :]
usvideos_notnull.loc[like(usvideos_notnull['description'], '.* math .*'), ['video_id', 'title']].drop_duplicates()

          video_id                                              title
1905   WKcYTvyoidw  Parenting Habits That Could Keep Children From...
26016  DjjBg8hTaPo                   How Much Food Is There On Earth?

## 3. ORDER BY

```SAS
SELECT col1, col2, ... FROM table ORDER BY col1, col2 ASC|DESC
```

This SQL keyword is used to sort the results in ascending or descending order.

It is straightforward to translate this to pandas, you just call the `.sort_values(by=['col1', ...], ascending=True/False)` method on a data frame.

In [36]:
usvideos.loc[usvideos["likes"]>=2000000, ["video_id", "title"]].sort_values(by=["title"], ascending=True).drop_duplicates()

          video_id                                              title
32090  ffxKSjUwKdU               Ariana Grande - No Tears Left To Cry
29922  kX0vO4vlJuU  BTS (방탄소년단) 'Euphoria : Theme of LOVE YOURSELF...
2201   kTlv5_Bs8aw  BTS (방탄소년단) 'MIC Drop (Steve Aoki Remix)' Offi...
34562  p8npDG2ulKQ  BTS (방탄소년단) LOVE YOURSELF 轉 Tear 'Singularity'...
34420  VYOjWnS4cMY  Childish Gambino - This Is America (Official V...
1950   TyHvyGVs42U          Luis Fonsi, Demi Lovato - Échame La Culpa
3400   6ZfuNTqbHE8  Marvel Studios' Avengers: Infinity War Officia...
5020   FlsCjmMhFmw  YouTube Rewind: The Shape of 2017 | #YouTubeRe...
22040  OK3GJ0WIQ8s                         j-hope 'Daydream (백일몽)' MV

## 4. GROUP BY

```SAS
SELECT col1, col2, ... FROM table GROUP BY colN
```

The `GROUP BY` statement groups rows that have the same value for a specific column. It is often used with aggregate functions (`MIN`, `MAX`, `COUNT`, `SUM`, `AVG`).

In pandas it is as simple as calling the `.groupby(['col1', ...])` method, followed by a call to one of `.min()`, `.max()`, `.count()`, `.sum`, `.mean()` methods.

In [39]:
usvideos.loc[:, ["channel_title", "views", "likes", "dislikes"]].groupby(["channel_title"]).sum()

                            views     likes  dislikes
channel_title
12 News                    177970       352        90
1MILLION Dance Studio    20959169   1399898     15030
1theK (원더케이)             57375949   3663362     63329
20th Century Fox        761233347  15809421    318760
2CELLOS                    432186     22900       245
...                           ...       ...       ...
ワーナー ブラザース 公式チャンネル        7389323    154962      6128
圧倒的不審者の極み!               11417717    157447     12315
杰威爾音樂 JVR Music          11062185    239473      9023
郭韋辰                         26964        99         2
영국남자 Korean Englishman    5963784    147154      2579

[2153 rows x 3 columns]

## 5. HAVING

```SAS
SELECT col1, col2, ... FROM table GROUP BY colN HAVING condition
```

The `HAVING` keyword is used to filter the results based on group-level conditions.

In pandas we have the `.filter(func)` method that can be called after a `groupby()` call. We need to pass to this method a function that takes a data frame of a group as a parameter and returns a boolean value that decides whether this group is included in the results or not.

But if we want to do more things at once in pandas, e.g. apply aggregate functions on columns and filter results based on group-level conditions, we need to do this in more steps. Whereas in SQL we could have done this in only one query.

In the example below we want to group by `channel_title`, allow only channels that have at least 100 videos in the table, and apply average function on `views`, `likes`, and `dislikes`.

In SQL this would be:

```SAS
SELECT channel_title, AVG(views), AVG(likes), AVG(dislikes)
FROM videos_table
GROUP BY channel_title
HAVING COUNT(video_id) >= 100;
```

In pandas:

In [42]:
g = usvideos.groupby(['channel_title'])
g = g.filter(lambda x: x['video_id'].count() > 100)
g = g.loc[:, ['channel_title', 'views', 'likes', 'dislikes']]
g = g.groupby(['channel_title']).mean()
g.head(5)

                         views          likes     dislikes
channel_title
20th Century Fox  6.983792e+06  145040.559633  2924.403670
ABC News          4.208084e+05    3693.675439  2411.578947
Bon Appétit       7.405630e+05   19135.390244   663.609756
BuzzFeedVideo     1.518638e+06   34872.156028  2057.156028
CNN               6.265643e+05    8856.414474  4381.809211